[submodule "lib/pico-filesystem"]
	path = lib/pico-filesystem
	url = https://github.com/Memotech-Bill/pico-filesystem.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/Pi-Pico-SDK-Adafruit-SH110x"]
	path = lib/Pi-Pico-SDK-Adafruit-SH110x
	url = https://github.com/Reghardt/Pi-Pico-SDK-Adafruit-SH110x.git
